.regionPopup {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regionOverlay {
    position: absolute;
    height: 50vh;
    width: 50vw;
    background: transparent;
    left: 0;
    top: 0;
    z-index: 2;
}

