.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding: 10px;
    z-index: 5000;
    background-color: transparent;

}

/* style links */
.header a {
    text-decoration: none;
    color: black;
}

.mainHeaderLinks {
    display: flex;
    column-gap: 15px;
    flex: 1;
    justify-content: center;
}

/* sticky header */
.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding: 10px;
    z-index: 5000;
    
    
}

/* add logo pic */

/* menu */
